
.throttles {

  &__menu {
    background-color: #424242;
    padding: 0.5rem;
    > .MuiGrid-root {
      align-content: flex-start;
    }
    &__available {
      justify-content: space-between;
      padding-left: .5rem;;
    }
  }

  &__acquired {


    &--view-compact {

      .throttle__container {

        padding: .5rem;
        max-width: 320px;
        min-width: 240px;
        
      }

      .throttle__functions,
      .throttle__space {
        display: none;
      }
      
      .MuiCardHeader-root {
        transform: scale(0.75);
        padding: 0;
      }
      
    }
    &--view-comfy {      
      .throttle {
        min-width: 33%;
        max-width: 50%;
        min-height: 320px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      
    }
    &--view-2up {

      .throttle__container {
        max-width: 50%;
        width: 50%;
        flex: 1 1 50%;
      }
      
    }
    &--view-full {
      
      .throttle__container {
        max-width: 100%;
        width: 100%;
        flex: 1 1 100%;
      }
    }
  }

}