node_modules/
.env
**/*.env
lerna-debug.log
.DS_Store
yarn-error.log
.nx/cache/file-map.json
.nx/cache/lockfile.hash
.nx/cache/parsed-lock-file.json
.nx/cache/project-graph.json
.nx/cache/d/daemon.log
.nx/cache/d/server-process.json
.nx/cache/nx-console-project-graph/project-graph.html
.nx/cache/nx-console-project-graph/static/3rdpartylicenses.txt
.nx/cache/nx-console-project-graph/static/environment.js
.nx/cache/nx-console-project-graph/static/favicon.ico
.nx/cache/nx-console-project-graph/static/main.js
.nx/cache/nx-console-project-graph/static/polyfills.js
.nx/cache/nx-console-project-graph/static/runtime.js
.nx/cache/nx-console-project-graph/static/styles.css
.nx/cache/nx-console-project-graph/static/styles.js
.nx/cache/terminalOutputs/91889440918925278
.nx/cache/terminalOutputs/2925049479916590833
.nx/cache/terminalOutputs/5420124430136160610
.nx/cache/terminalOutputs/7566536822192374753
.nx/cache/terminalOutputs/9734489719944569403
.nx/cache/terminalOutputs/13192902076735989251
.nx/cache/terminalOutputs/18117640234316553505
