@import "./theme";

html,
body,
#root {
	height: 100%;
  background-color: $background;
}

:root {
  text-align: center;

  .MuiAppBar-root, 
  .MuiBottomNavigation-root {
    background-color: $background-light-1;  
  }
}

.title {
  flex-grow: 1;
}

main {
  // overflow: auto;
  min-height: 0;

  .MuiPaper-root {
    background-image: none;
    background-color: $background-light-2;    
  }
}

.App-content-column {
  // height: 100%;
  // overflow: auto;
}

// Utility Classes
.grow {
  flex: 1;
}
.flex {
  display: flex;
}
.height100 {
  height: 100%;
}
.width100 {
  width: 100%;
}
.textLeft {
  text-align: left;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.rounded-button-group {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  color: #fff;
  
  &.MuiButtonGroup-root {
    border-radius: 1.5rem;
  }

  .MuiButton-startIcon {
    color: #fff;
    margin: 0;
    svg {
      // font-size: 3rem;
    }
  }

  .MuiButtonBase-root {
    background: linear-gradient(140deg, rgb(71, 91, 235) 0%, rgba(46, 62, 187, 0.8) 100%);
    flex: 1 1 0px;
    width: 0;
    padding: 1rem 3rem;
    color: #fff;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: 0px solid rgba(255,255,255, 0.5);
    // border-radius: 1.5rem 1.5rem 0 0;

    &.MuiButtonGroup-middleButton,
    &.MuiButtonGroup-firstButton {
      border: 0;
    }

    &:first-child {
      border-radius: 1.5rem 1.5rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 1.5rem 1.5rem;
    }

  }

}

// Status Monitor
.status-monitor {
  .MuiChip-root {
    margin: 0 1em;
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
    padding-right: .5rem;
    border-width: 3px;
    border-color: rgb(128, 128, 128);
    padding-left: .5rem;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
  }
  &__layout.MuiChip-root {
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
  }
  &__jmri.MuiChip-root {
    background: $bg-purple-violet-1;
    background: $bg-grad-purple-violet-1;
  }
  &__api.MuiChip-root {

    background: $bg-yellow-orange-1;
    background: $bg-grad-yellow-orange-1;
  }
  &__cmdex.MuiChip-root {
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
  }
  &__usb.MuiChip-root {
    background: $bg-purple-violet-1;
    background: $bg-grad-purple-violet-1;
  }
  &--unknown.MuiChip-root {
    animation: flickerAnimation 1s infinite;
  }
  &--connected.MuiChip-root {
    border-color: rgb(14, 192, 14);
    // border-radius: 50%;
  }
  &--timeout.MuiChip-root,
  &--disconnected.MuiChip-root {
    border-color: rgb(211, 0, 0);
    // border-radius: 50%;
  }
}

.divider.MuiDivider-root {
  // padding: 1rem;
  background: linear-gradient(170deg, rgb(132, 0, 255) 0%, rgb(201, 0, 255) 100%);
  margin: 0 1rem;
  width: .25rem;
  border-radius: .25rem;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.5; }
  100% { opacity:1; }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-23 12:52:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.jello-vertical {
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-27 11:11:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
