@use "sass:color";
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

$green: #26ac14;
$blue: #146fac;
$red: #f44336;
$orange: #f89719;

.mini-throttle {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0;
  width: auto;

  &.MuiPaper-root {
    // @include linear-gradient(darken($red, 30%), darken($red, 40%));
    padding: .25rem 0 .25rem 1rem;
    align-items: center;
  }

  .MuiAvatar-root {
    // TODO: roadname color
    background: rgb(254,0,107);
    background: linear-gradient(90deg, rgba(254,0,107,1) 0%, rgba(255,89,0,1) 100%);
  }
  
  
  .speed-control {
    display: flex;
    flex-direction: row;  
    padding: 0; 
  }

  .throttle__speed {
    padding: 0;
    font-size: 1rem;
    margin: 0rem .5rem 0 1.5rem;
    width: 3rem;
    height: 3rem;
    &:after, &:before {
      display: none;
    }
  }

  .throttle__controls__group {
    flex: 1;
    justify-content: center;
    flex-direction: row;
    padding: 0 1rem;

    .MuiButtonBase-root.MuiIconButton-root {
      background: linear-gradient(140deg, rgb(36, 191, 191) 0%, rgb(20, 133, 143) 100%);
      background: linear-gradient(140deg, rgb(115 27 196) 0%, rgb(131 23 160) 100%);
      border-radius: 0;
      margin: .5rem auto;
      padding: 0;
      display: flex;
      flex-direction: row;

      &:first-child {
        border-radius: 1rem 0 0 1rem;
      }

      &:last-child {
        border-radius: 0 1rem 1rem 0;
      }

      &.speed-up-btn {
        color: #4caf50;
      }
      &.speed-stop-btn {
        padding: 1rem 0;
        margin: 0 -2px;
        width: 100%;
        border-radius: 1rem;
      }
      &.speed-down-btn {
        color: #f44336;
      }

    }

    .MuiIconButton-root {

    }
  }
}