@use "sass:color";

@import "../theme";

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

$sliderWidth: 8rem;

$green: #50d318;
$blue: #146fac;
$red: #f44336;
$orange: #f89719;
$neutral: #f89719;

.throttle {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  &.halfthrottle {
    flex-basis: 50%;
    max-width: 50%;
    min-height: 540px;
  }

  .MuiCardHeader-root {
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
    padding: 0;
  }
  .MuiCardContent-root {
    &:last-child {
      padding-bottom: 0;
    }
  }
  .MuiAvatar-root {
    // TODO: roadname color
    background: rgb(254,0,107);
    background: linear-gradient(90deg, rgba(254,0,107,1) 0%, rgba(255,89,0,1) 100%);
  }

  // .MuiCardHeader-action {
  //   padding: .5rem;
  //   .MuiIconButton-root {
  //     margin: auto .5rem;
  //     &.settings {
  //       background: rgb(181, 181, 181);      
  //       border: .25rem solid rgb(87, 87, 87);
  //     }

  //     &.functions {
  //       border: .25rem solid rgb(195, 254, 0);
  //       color: rgb(195, 254, 0);
  //     }

  //     &.cruise-control {
  //       border: .25rem solid rgb(254,0,107);
  //       color: rgb(254,0,107);
  //     }
  //     &.park {
  //       border: .25rem solid rgb(0, 72, 254);
  //       color: rgb(0, 72, 254);
  //     }
  //   }
  // }

  &__slider, &__controls, &__actions {
    justify-content: center;
  }

  


  .throttle__slider__container {
    margin: 2rem 0 2rem 2rem;
  }
  

  &__actions {
    &__primary.MuiButtonBase-root {
      margin-left: auto;
    }
  }

}
