@import "../theme";

$on: rgb(118, 255, 3);
$off: rgba(0,0,0,.4);


.turnout {
  display: flex;
  margin-bottom: .25rem;
  align-items: center;
  justify-content: space-between;

  &.MuiPaper-root {
    background: linear-gradient(90deg, #151515 0%, #222 100%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-pink-orange-1;
    background: $bg-grad-pink-orange-1;
    &.MuiCardContent-root {
      padding: 0.25rem 1rem;
    }
  }

  &__state {
    &.MuiCardActionArea-root {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 1rem;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    &.MuiCardContent-root {
      padding: 0.25rem;
      padding: 0;
    }
  }
  &__id {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-left: .5rem;
  }
  &__dir {
    background: $bg-purple-violet-1;
    background: $bg-grad-purple-violet-1;
    min-width: 3rem;
    display: block;
    padding: 0.25rem 1rem;
  }
  &__name {
    text-align: left;
    padding: 0.25rem 1rem;
  }

  &__indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: $bg-blue-green-1;
    // background: $bg-grad-blue-green-1;
    padding: 0.25rem 1rem;
    padding: .75rem;
    &.MuiCardContent-root {
      padding: 0.25rem 1rem;
      padding: 0.25rem 1rem;
      padding: 0;
    }
    svg g:first-child {
      display: none;
    }
    svg g:last-child {
      display: block;
    }
    &__divergent {
      svg g:first-child {
        display: block;
      }
      svg g:last-child {
        display: none;
      }
    }
  }


  &__header .MuiTypography-root,
  &__actions.MuiCardActions-root {
    // display: none;
  }
}

// Tmaarack Junction Styles
.turnout__line {
  &__eng {
    .turnout__line { 
      color:  $bg-pink-orange-1;
      path {
        fill: $bg-pink-orange-1;
        stroke: $bg-pink-orange-1 !important;
      }
    }
  }
  &__ss {
    .turnout__line { 
      color:  $bg-blue-green-1;
      path {
        fill: $bg-blue-green-1;
        stroke: $bg-blue-green-1 !important;
      }
    }
  }
  &__sn {
    .turnout__line { 
      color: $bg-purple-violet-1;
      path {
        fill: $bg-purple-violet-1;
        stroke: $bg-purple-violet-1 !important;
      }
    }
  }
  &__vl {
    .turnout__line { 
      color:  $bg-yellow-orange-1;
      path {
        fill: $bg-yellow-orange-1;
        stroke: $bg-yellow-orange-1 !important;
      }
    }
  }
  &__sl {
    .turnout__line { 
      color: $bg-blue-green-1;
      path {
        fill: $bg-blue-green-1;
        stroke: $bg-blue-green-1 !important;
      }
    }
  }
  &__hx {
    .turnout__line { 
      color:  $bg-green-blue-1;
      path {
        fill: $bg-green-blue-1;
        stroke: $bg-green-blue-1 !important;
      }
    }
  }
}

@keyframes pulse {
  0% { transform: scale(0.95); opacity: 0.3; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.3; }
}
