@import "../theme";

$on: rgb(118, 255, 3);
$off: rgba(0,0,0,.4);


.turnout {
  display: flex;
  margin-bottom: .25rem;
  align-items: center;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-pink-orange-1;
    background: $bg-grad-pink-orange-1;
    &.MuiCardContent-root {
      padding: 0.25rem 1rem;
    }
  }

  &__state {
    &.MuiCardActionArea-root {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 1rem;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    &.MuiCardContent-root {
      padding: 0.25rem;
      padding: 0;
    }
  }
  &__id {
    display: flex;
    align-items: stretch;
    width: 100%;
    text-align: center;
    &.MuiCardContent-root {
      padding: 0.25rem;
      padding: 0;
    }
  }
  &__line {
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
    min-width: 3rem;
    display: block;
    padding: 0.25rem 1rem;
  }
  &__dir {
    background: $bg-purple-violet-1;
    background: $bg-grad-purple-violet-1;
    min-width: 3rem;
    display: block;
    padding: 0.25rem 1rem;
  }
  &__name {
    text-align: left;
    padding: 0.25rem 1rem;
  }

  &__indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
    padding: 0.25rem 1rem;
    padding: .75rem;
    &.MuiCardContent-root {
      padding: 0.25rem 1rem;
      padding: 0.25rem 1rem;
      padding: 0;
    }
    &__divergent {
      background: $bg-pink-orange-1;
      background: $bg-grad-pink-orange-1;

    }
  }


  &__header .MuiTypography-root,
  &__actions.MuiCardActions-root {
    display: none;
  }
}


.turnout__line {
  &__eng .turnout__line {
    background: $bg-pink-orange-1;
    background: $bg-grad-pink-orange-1;
  }
  &__ss .turnout__line  {
    background: $bg-blue-green-1;
    background: $bg-grad-blue-green-1;
  }
  &__sn .turnout__line  {
    background: $bg-purple-violet-1;
    background: $bg-grad-purple-violet-1;
  }
  &__vl .turnout__line  {
    background: $bg-yellow-orange-1;
    background: $bg-grad-yellow-orange-1;
  }
  &__sl .turnout__line  {
    background: $bg-pink-orange-1;
    background: $bg-grad-pink-orange-1;
  }
  &__hx .turnout__line  {
    background: $bg-pink-orange-1;
    background: $bg-grad-pink-orange-1;
  }
}
// .turnouts {
//   align-content: flex-start;
//   .chip {
//     margin: 0rem 0.5rem 0.5rem 0;
//   }
//   .turnout {
//     display: flex;
//     width: 100%;
//     flex-wrap: wrap;
//     justify-content: space-between;

//     &__header {
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//       align-items: center;
//     }

//     &__grid-item {
//       display: flex;
//       flex-wrap: wrap;
//       align-content: flex-start;
//     }

//     &__container {
//       padding: 0.5rem;
//       .MuiPaper-root {
//         border-radius: 0;
//       }
//       .turnout__header {
//         background: $bg-pink-orange-1;
//         background: $bg-grad-pink-orange-1;
//       }
//       &:nth-child(2n) .turnout__header {
//         background: $bg-blue-green-1;
//         background: $bg-grad-blue-green-1;
//       }
//       &:nth-child(3n) .turnout__header  {
//         background: $bg-red-orange-1;
//         background: $bg-grad-red-orange-1;
//       }
//       &:nth-child(4n) .turnout__header  {
//         background: $bg-purple-violet-1;
//         background: $bg-grad-purple-violet-1;
//       }
//       &:nth-child(5n) .turnout__header  {
//         background: $bg-yellow-orange-1;
//         background: $bg-grad-yellow-orange-1;
//       }
//       &:nth-child(6n) .turnout__header  {
//         background: $bg-green-blue-1;
//         background: $bg-grad-green-blue-1;
//       }
//       :nth-child(7n)  .turnout__heade {
//         background: $bg-pink-orange-1;
//         background: $bg-grad-pink-orange-1;
//       }
//     }

//     &__desc {
//       padding-left: 1rem;
//     }

//     &__link {
//       padding: 0.5rem 1.5rem;
//       margin-top: 0.5rem;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//     }
//   }

//   &.turnouts--tiny {
//     .turnout {
//       flex-direction: column;
//       align-items: center;

//       .turnout__header {
//         justify-content: center;
//         padding: .5rem;
//         .chip {
//           margin: 0;
//         }
//       }
//       .turnout__state {
//         order: 1;
//         display: flex;
//         padding: .5rem 1.5rem;
//       }

//       .turnout__id {
//         order: 0;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;
//         &.MuiCardContent-root {
//           padding: 0.25rem;
//         }
//       }

//       .svg-wrapper {
//         > svg {
//           width: 45px;
//         }
//       }

//       .turnout__actions,
//       .turnout__header__status {
//         display: none;
//       }
//     }
//   }

//   &.turnouts--compact,
//   &.turnouts--comfy {
//     .turnout {
//       flex-direction: column;

//       height: 100%;
//       align-items: flex-start;

//       &__container {
//         flex: 0 0 12rem;
//       }

//       .turnout__state {
//         display: flex;
//         padding: .5rem 2rem;
//         width: 90px;
//         flex: 0 1 90px;
//       }

//       .turnout__id {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         flex: 1;
//       }

//       .turnout__actions {
//         align-self: flex-end;
//         width: 100%;
//         justify-content: space-between;
//       }
//     }
//   }

//   &.turnouts--pill {
//     .turnout {
//       background-color: transparent;
//       box-shadow: none;
//       flex-direction: column;
//       align-items: center;
//       &__container {
//         padding: 2px;
//         flex-basis: auto;
//       }
//       .turnout__header {
//         justify-content: center;
//         padding: 8px 0;
//         .chip {
//           margin: 0;
//           cursor: pointer;
//         }
//       }
//       .turnout__id,
//       .turnout__actions,
//       .turnout__state,
//       .turnout__header__status {
//         display: none;
//       }
//     }
//   }
// }

// .MuiButtonBase-root.media {
//   flex: 0 1;
//   padding: 1em;
// }

// .information {
//   flex: 1;
// }

// .actions {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }

// .media-container {
//   position: relative;
// }

// .spinner {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -20px;
//   margin-top: -20px;
// }

// .loading .svg-wrapper {
//   opacity: 0.1;
// }

// .MuiTextField-root {
//   margin: 1rem;
// }
// .turnout--compact,
// .turnout-tiny {

//   .compact-hidden {
//     display: none;
//   }
// }

// .route {
//   margin: .25rem;

//   &__origin .MuiChip-root {
//     background-color: green;
//   }

//   &__destination .MuiChip-root {
//     background-color: red;
//   }

//   &__available-option .MuiChip-root {
//     background-color: blue;
//   }

//   &__unavailable-option{
//     display: none;
//     .MuiChip-root {
//       background-color: #666;
//     }
//   }
// }

@keyframes pulse {
  0% { transform: scale(0.95); opacity: 0.3; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.3; }
}
