@import "../theme";

$on: rgb(118, 255, 3);
$off: rgba(0,0,0,.4);


.turnouts {
  align-content: flex-start;
  .chip {
    margin: 0rem 0.5rem 0.5rem 0;
  }
  .turnout {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    &__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    &__grid-item {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    &__container {
      padding: 0.5rem;
      .MuiPaper-root {
        background-color: rgba(23, 29 ,38, 1);
        border-radius: 0;
      }
      .turnout__header {
        background: $bg-pink-orange-1;
        background: $bg-grad-pink-orange-1;        
      }
      &:nth-child(2n) .turnout__header {
        background: $bg-blue-green-1;
        background: $bg-grad-blue-green-1;
      }
      &:nth-child(3n) .turnout__header  {
        background: $bg-red-orange-1;
        background: $bg-grad-red-orange-1;
      }
      &:nth-child(4n) .turnout__header  {
        background: $bg-purple-violet-1;
        background: $bg-grad-purple-violet-1;
      }
      &:nth-child(5n) .turnout__header  {
        background: $bg-yellow-orange-1;
        background: $bg-grad-yellow-orange-1;
      }
      &:nth-child(6n) .turnout__header  {
        background: $bg-green-blue-1;
        background: $bg-grad-green-blue-1;
      }
      :nth-child(7n)  .turnout__heade {
        background: $bg-pink-orange-1;
        background: $bg-grad-pink-orange-1;        
      }
    }

    &__desc {
      padding-left: 1rem;
    }

    &__link {
      padding: 0.5rem 1.5rem;
      background-color: rgba(0,0,0,.5);
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &.turnouts--tiny {
    .turnout {
      flex-direction: column;
      align-items: center;

      .turnout__header {
        justify-content: center;
        padding: .5rem;
        .chip {
          margin: 0;
        }
      }
      .turnout__state {
        order: 1;
        display: flex;
        padding: .5rem 1.5rem;
      }

      .turnout__id {
        order: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &.MuiCardContent-root {
          padding: 0.25rem;
        }
      }

      .svg-wrapper {
        > svg {
          width: 45px;
        }
      }

      .turnout__actions,
      .turnout__header__status {
        display: none;
      }
    }
  }

  &.turnouts--compact,
  &.turnouts--comfy {
    .turnout {
      flex-direction: column;

      height: 100%;
      align-items: flex-start;

      &__container {
        flex: 0 0 12rem;
      }

      .turnout__state {
        display: flex;
        padding: .5rem 2rem;
        width: 90px;
        flex: 0 1 90px;
      }

      .turnout__id {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
      }

      .turnout__actions {
        align-self: flex-end;
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  &.turnouts--pill {
    .turnout {
      background-color: transparent;
      box-shadow: none;
      flex-direction: column;
      align-items: center;
      &__container {
        padding: 2px;
        flex-basis: auto;
      }
      .turnout__header {
        justify-content: center;
        padding: 8px 0;
        .chip {
          margin: 0;
          cursor: pointer;
        }
      }
      .turnout__id,
      .turnout__actions,
      .turnout__state,
      .turnout__header__status {
        display: none;
      }
    }
  }
}

.MuiButtonBase-root.media {
  flex: 0 1;
  padding: 1em;
}

.information {
  flex: 1;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.media-container {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.loading .svg-wrapper {
  opacity: 0.1;
}

.MuiTextField-root {
  margin: 1rem;
}
.turnout--compact,
.turnout-tiny {

  .compact-hidden {
    display: none;
  }
}

.route {
  margin: .25rem;

  &__origin .MuiChip-root {
    background-color: green;    
  }

  &__destination .MuiChip-root {
    background-color: red;    
  }

  &__available-option .MuiChip-root {
    background-color: blue;    
  }

  &__unavailable-option{
    display: none; 
    .MuiChip-root {
      background-color: #666;    
    }
  }
}

@keyframes pulse {
  0% { transform: scale(0.95); opacity: 0.3; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.3; }
}
